/node_modules
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
qimaauction
npm-debug.log
# qimaauction.js
oldqimmauction.js
yarn-error.log
/.idea
/.vscode
/nbproject/private/
