@font-face {
    font-family: "Garamond-Pro";
    src: url("./assets/Garamond\ Premier\ Pro\ Light\ Display.otf") format('woff');
}
.font-fam{
    font-family: "Garamond-Pro";
} 
.font-fam span{
    font-family: "Garamond-Pro";
}
.modal-footer button{
    background: #212529;
}
.container-all {
    position: relative;
    min-height: 100vh;
}

.container-all video {
    position: relative;
    z-index: 0;
}

.video-img {
    text-align: center;
    margin-bottom: 20px;
}

.video-img img {
    height: 200px;
    width: auto;
}

.overlay {
    position: absolute;
    width: 100% !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
}
    .video-text-1 span{
    left: 0;
    z-index: 1;

}
.video-text-1 {
    text-align: center;
}

.video-text-1 span {
    font-family: 'Garamond-Pro';
    font-style: normal;
    /* font-weight: 400; */
    font-size: 75px;
    line-height: 50px;
    font-weight: 400;
    color: #fff;
}

.video-text-2 {
    text-align: center;
}

.video-text-2 p {
    font-family: "Garamond-Pro";
    font-style: normal;
    /* font-weight: 600; */
    font-size: 35px;
    line-height: 55px;
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
    /* font-feature-settings: 'kern' off; */
    color: #fff;
}

#backgroung-img-section-2 {
    background-image: url('./images/blue\ cloth\ 1.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: 100% 100%;
    /* height: 105vh; */
}

.section-2 img {
    height: auto;
    width: 270px;
    max-width: 100%;
}
a.btn.btn-outline-light {
    padding: 8px 15px !important;
    font-size: 28px;
    margin-top:30px;
    margin-bottom: 50px;
    color:#fff !important;
    border-color:#fff !important;
}
.banner-btns{
    background-color: #FFF !important;
    color: #232B38 !important;
}
.banner-btns:hover{
    background-color: transparent !important;
    color: #FFF !important;
}
a.btn.btn-outline-light.banner:hover{
    background-color: transparent !important;
    color: #FFF !important;
}
.section-2-text p {
    color: #fff;
    font-size: large;
}

.section-2-logos img {
    height: auto;
    width: 125px;
    margin-bottom:20px;
}

.section-3 {
    background-color: #E9AB00;
    padding-top:40px;
    padding-bottom:40px;
}

.section-3-img img {
    width: 270px;
    height: auto;
    max-width: 100%;
}
a.btn-outline-dark{
    font-family: 'Montserrat';
    font-size: 17px; 
    font-weight: 400;
    border: 3px solid #232B38;
    border-radius: 10px;
    padding: 8px 15px;
}
a.btn-outline-dark:hover{
    color:#fff !important;
}

.footerz a.btn-outline-light:hover{
    color:#232B38 !important;
}
a.btn-outline-light:hover{
    color:#232B38 !important;
}
.footerz a.btn-outline-light{
    font-family: 'Montserrat';
    font-size: 17px; 
    font-weight: 400;
    border: 3px solid #A4A3A3;
    border-radius: 10px;
    padding:35px;
    color:#A4A3A3 !important;
    border-color: #A4A3A3 !important;
}
.section-3-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 88px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

}

.section-3-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    /* line-height: 10px; */
    /* display: flex; */
    align-items: center;
    text-align: center;
}

.section-4-heading {
    background-color: #D9D9D9;
}

.section-4-heading span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    /* line-height: 73px; */
    /* display: flex; */
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.card {
    border: unset;
}

.card-body {
    background-color: #D9D9D9;
}

.card-display {
    display: flex;
    justify-content: center;

}
.card-display .card {
    border: unset;

}
.card-display-2 .card {
    border: unset;

}
.card-display-3 .card{
    border: unset;
}
.card-headings {
    color: #232B38;
    font-size: 22px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.card-bold-text {
    font-weight: 700;
}

.border-bottom-custom {
    border-bottom: 2px solid #232B38;
    margin-top:53px;
    padding-bottom:50px;
}

.section-4 {
    background-color: #232B38;
}

.section-4 img {
    height: auto;
    width: 270px;
    max-width: 100%;
}

.section-4-text-1 {
    color: #A4A3A3;
}

.section-4-text-4 .date {
    color: #A4A3A3;
}

.section-4-text-2 p {
    color: #A4A3A3;
}

.section-4-text-1 .time {
    font-style: normal;
    /* font-weight: 400; */
    font-size: 35px;
    font-family: "Garamond-Pro";
}

.section-4-text-1 .date {
    font-style: normal;
    /* font-weight: 400; */
    font-size: 30px;
    font-family: "Garamond-Pro";
}

.bg-none {
    background-color: transparent !important;
}
.bg-none p{
    font-family: 'Montserrat';
    font-weight: 500;
}
.text-color{
    color: #A4A3A3;
}
.text-color-size{
    color: #A4A3A3;
    font-size: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    /* font-weight: 600; */

}
.card-text-font{
    font-family: 'Montserrat';
    font-weight: 500;
}
.section-2-custom-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    }
.section-3-custom-text{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: large;
    margin-top:30px;
}
.section-3-custom-text-one{
    font-family: 'Montserrat';
    font-size: x-large;
}
/* Media Quries */
a.banner{
    padding: 5px !important;
    font-size: 18px !important;
    margin-top: -4px !important;
}

@media only screen and (max-width: 425px) {
    a.banner {
        /* padding: 5px !important; */
        font-size: 16px !important;
        margin-top: 20px !important;
    }
    /* .video-text-1 span */
    .video-img img {
        height: 120px !important;
        /* width: auto !important; */
    }

    .video-text-1 span {
        font-size: 30px !important;
        line-height: 20px !important;
    }

    /* .overlay {
        top: 10px !important;
    } */

    .video-text-2 p {
        font-size: 22px !important;
        line-height: 38px !important;
    }

    .section-2 img {
        width: 210px !important;
    }

    .section-2-logos img {
        height: auto;
        width: 100px !important;
    }
    a.btn.btn-outline-light{
        padding: 5px 10px !important;
    }
    .section-3-heading span{
        font-size: 35px !important;
    }
    .section-3-custom-text-one {
        font-size: large;
    }
    a.btn-outline-dark{
        padding: 8px 10px;
    }
    .section-3-custom-text{
        font-size: large;
    }
    .section-3{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    a.btn-outline-dark{
        font-size: 12px !important;
    }

}
@media only screen and (min-width:1440px) {
    a.banner{
        padding: 28px 29px !important;
        font-size: 28px !important;
        margin-top: 100px !important;
    }
}
@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    a.banner{
        padding: 28px 29px !important;
        font-size: 28px !important;
        margin-top: 30px !important;
    }

    .video-img img {
        height: 300px !important;
        width: auto !important;
    }

    .video-text-1 span {
        font-size: 75px !important;
        line-height: 65px !important;
        /* font-weight: 800; */
        color: #fff;
    }

    .video-text-2 p {
        font-size: 35px !important;
    }
}

@media only screen and (max-width: 2560px) and (min-width: 1440px) {

    .video-img img {
        height: 270px !important;
        width: auto !important;
    }

    .video-text-1 span {
        font-size: 75px !important;
        line-height: 95px !important;
        /* font-weight: 400; */
        color: #fff;
    }
    .main-img-logo img{
        width: 400px !important;
    }

    .video-text-2 p {
        font-size: 40px !important;
        line-height: 30px !important;
    }
}